*{
    font-family: 'Apercu', sans-serif;
  }
  
.background{
    /* background: linear-gradient(to right, #a0bef8, #b5f0f0); */
    background-image: linear-gradient( #a0bef8, white);
}

.picture{
    height: auto;
    width: 150px;
}

.navColor{
    text-decoration: none;
    color: black;
}

.footerBackground{
    background-image: radial-gradient(circle, #a0bef8, #a9c4f7, #b3c9f5, #bccff4, #c5d4f2);
}
  
.footerLogo{
    width: auto;
    height: 100px;
}

.tabIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    border-radius: 100px;
    overflow: hidden;
}

span.featureIcons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .fontWeight{
    font-weight: 600;
  }

.logoPic{
    width: auto;
    height: 150px;
}

figure{
    display: flex;
    justify-content: center;
}

.sectionHomepage
{
  width: 65%;
}

.titleFeatures{
    color: #3378ff;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
  }