*{
  font-family: 'Apercu', sans-serif;
}

.background{
  /* background: linear-gradient(to right, #a0bef8, #b5f0f0); */
  background-image: linear-gradient( #a0bef8, white);

}

.picture{
  height: auto;
  width: 150px;
}


.fonthomepage{
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

.buttonBOOK{
  border-radius: 7px;
  width: 290px;
  height: 75px;
  font-size: 22px;
}

#picxd{
  height: 500px;
  width: auto;
}

.contentxd{
  font-size: large;
  text-align: center;
  line-height: 2;
}

.fontWeight{
  font-weight: 600;
}

.sectionHomepage
{
  width: 65%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 3 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }

.pictureSchool{
  height: 175px;
  width: auto;
}

.pictureSection{
  width: 80%;
}

span.featureIcons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon{
  height: 5px;
  width: 5px;
}

.l_features{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0vh 30vh 15vh 30vh;
}

.nav-tabs>li{
  float: left;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.titleFeatures{
  color: #3378ff;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
}

.colorTitle{
  color: #3378ff;
}

.footerBackground{
  background-image: radial-gradient(circle, #a0bef8, #a9c4f7, #b3c9f5, #bccff4, #c5d4f2);
}

a .nav-item < a{
  color: black;
}

.footerLogo{
  width: auto;
  height: 100px;
}

.navColor{
  text-decoration: none;
  color: black;
}